<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div class="container">
        <h1>DEMO</h1>
        @RenderBody()
    </div>
</body>
</html>
